body {
	font: 12pt/16pt 'Segoe UI', Tahoma, sans-serif;
}

header h1 {
	font-size: 32pt;
	line-height: 32pt;
	font-weight: 300;
	float: left;
	margin: 0 0 12pt 0;
}
header h2 {
	font-size: 12pt;
	font-weight: normal;
	float: left;
	margin: 0 0 0 1em;
}

div.demo {
	position: absolute;
	top: calc(50vh - 300px);
	right: calc(50vw + 64pt);
}

div.center {
	position: absolute;
	height: 50vh;
	width: 50vw;
	top: calc(50vh - 64pt);
	left: 50vw;
}
div.action {
	clear: both;
	position: absolute;
	bottom: 0;
}
div.action a {
	text-decoration: none;
	color: #444;
}
div.action a:hover {
	color: #aaa;
}
div.action span.space {
	margin: 0 1em;
}