body {
	font: 12pt / 16pt "Helvetica Neue", "Arial", sans-serif;
	margin: 0;
}

header {
	width: 800px;
	max-width: 80%;
	margin: 3em auto;
	position: relative;
}
header h1 {
	font-size: 12pt;
	font-weight: bold;
	float: left;
	margin: 0;
}
header h2 {
	font-size: 12pt;
	font-weight: normal;
	float: right;
	margin: 0;
}

div.demo {
	position: relative;
	clear: both;
	left: -56px;
}
div.demo img {
	position: relative;
}
div.demo canvas {
	position: absolute;
	top: 104px;
	left: 56px;
}

div.action a {
	text-decoration: none;
	color: #444;
}
div.action a:hover {
	color: #aaa;
}
div.action span.space {
	margin: 0 1em;
}