body {
	color: #000;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	margin: 2em;
}

section {
	margin: 2em 0;
}

[contenteditable] {
	border-bottom: 1px solid transparent;
}
[contenteditable]:hover {
	border-bottom: 1px dotted #ddd;
}
[contenteditable]:focus {
	outline: none;
	border-bottom: 1px dotted;
}

h1 {
	font-weight: normal;
	font-size: 1.5em;
	color: #444;
}
h1.title {
	margin-top: 0;
}

h2 {
	font-size: 1em;
	color: #aaa;
	text-transform: uppercase;
}

.link:hover {
	color: #888;
	cursor: pointer;
}
.link[disabled=true] {
	pointer-events: none;
	color: #ccc;
}

.side {
	width: 120pt;
	height: calc(100vh - 4em);
	float: left;
	position: relative;
}

.styles ul {
	list-style: none;
	padding: 0;
	font-size: 1.2em;
	margin-top: 0;
}
.styles ul li {
	padding: .25em 0;
}

.lower {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}
.lower div:not(:last-child) {
	padding: 1em 0;
	width: 100%;
}
.lower .settings {
	display: none;
}

.main {
	width: calc(100% - 120pt);
	float: right;
	display: none;
}

#edit .options {
	width: 120pt;
	float: left;
	margin-right: 2em;
}
#edit .code {
	width: calc(100% - 120pt - 2em);
	height: calc(100vh - 4em);
	float: right;
}

.options .title.dirty:after {
	content: '*';
}

.actions {
	margin: 1em 0 .5em;
}
.actions div {
	padding: .5em 0;
}

.rules pre {
	font-size: 8pt;
}